.container {
    width: 800px;
    height: 100%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.top-menu {
    background-color: gray;
    color: #fff;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}

.logo img {
    width: 200px;
    height: auto;
}

.menu {
    /* background-color: red; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-item {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu-item ul {
    display: inset-block;
    margin-right: 20px;
}

.img-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.img-group-item {
    display: flex;
    background-color: #dedede;
    width: 33.3%;
    height: 100px;
    margin-right: 2px;
    align-items: center;


}

.block-img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    margin-right: 10px;
    margin-left: 10px;
}

.slider {
    height: 300px;
    width: 100%;
    background-color: #dedede;
    margin-top: 20px;
    position: relative;
}

.slider-component {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-dots{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-dot{
    width: 10px;
    height: 10px;
    background: #c1c1c1;
    display: inline-block;
    border-radius: 100px;
    margin-right: 5px;
}